---
import Layout from "../layouts/Layout.astro";

// Importamos todas las secciones
import Hero from "../components/sections/Hero.astro";
import Servicios from "../components/sections/Servicios.astro";
import About from "../components/sections/About.astro";
import Testimonios from "../components/sections/Testimonios.astro";
import Contacto from "../components/sections/Contacto.astro";
---

<Layout>
  <div id="inicio" class="scroll-mt-24">
    <Hero />
  </div>

  <div id="servicios">
    <Servicios />
  </div>

  <div id="sobre-mi">
    <About />
  </div>

  <div id="contacto">
    <Contacto />
  </div>
</Layout>
