---
import { Image } from "astro:assets";

import logoBankinter from "../assets/banklogos/bankinter.png";
import logoIng from "../assets/banklogos/ing.png";
import logoUnicaja from "../assets/banklogos/unicaja.png";

const banks = [
  // En lugar de un string, pasamos la variable importada en 'logo'
  { name: "Bankinter", logo: logoBankinter },
  { name: "ING", logo: logoIng },
  { name: "Unicaja", logo: logoUnicaja },
];
---

<div class="w-full py-12">
  <h3
    class="text-center text-sm font-semibold uppercase tracking-[0.2em] mb-10"
  >
    Algunas de las entidades con las que colaboramos
  </h3>

  <div
    class="flex flex-wrap justify-center items-center gap-8 md:gap-16 opacity-60 dark:opacity-60 transition-all duration-500"
  >
    {
      banks.map((bank) => (
        <Image
          src={bank.logo}
          alt={`Logo de ${bank.name}`}
          title={bank.name}
          class="h-6 md:h-8 w-auto object-contain hover:scale-110 grayscale hover:grayscale-0 transition-transform duration-300"
        />
      ))
    }
  </div>
</div>
